# fly.toml app configuration file generated for socca-video-worker on 2025-12-13T02:51:53+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'socca-video-worker'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '2gb'
  memory_mb = 2048
  cpu_kind = 'shared'
  cpus = 2

